# Byte-compiled files
__pycache__/
*.py[cod]


.env

env3111/
venv/


*.log

static/uploads/

# Backup files
*.bak
*.swp

# IDE files
.vscode/
*.code-workspace

# System files
.DS_Store
Thumbs.db

# Python egg files
*.egg-info/
*.eggs/
